	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2018 10:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-x-ray:before { content: "\f100"; }
.flaticon-002-wheelchair:before { content: "\f101"; }
.flaticon-003-weight:before { content: "\f102"; }
.flaticon-004-vaccine:before { content: "\f103"; }
.flaticon-005-laboratory:before { content: "\f104"; }
.flaticon-006-thermometer:before { content: "\f105"; }
.flaticon-007-teeth:before { content: "\f106"; }
.flaticon-008-scalpel:before { content: "\f107"; }
.flaticon-009-stomach:before { content: "\f108"; }
.flaticon-010-stethoscope:before { content: "\f109"; }
.flaticon-011-saline:before { content: "\f10a"; }
.flaticon-012-report:before { content: "\f10b"; }
.flaticon-013-pregnant:before { content: "\f10c"; }
.flaticon-014-plaster:before { content: "\f10d"; }
.flaticon-015-patient:before { content: "\f10e"; }
.flaticon-016-nurse:before { content: "\f10f"; }
.flaticon-017-microscope:before { content: "\f110"; }
.flaticon-018-medicine:before { content: "\f111"; }
.flaticon-019-lungs:before { content: "\f112"; }
.flaticon-020-kidneys:before { content: "\f113"; }
.flaticon-021-hospital:before { content: "\f114"; }
.flaticon-022-helicopter:before { content: "\f115"; }
.flaticon-023-heart:before { content: "\f116"; }
.flaticon-024-gender:before { content: "\f117"; }
.flaticon-025-first-aid:before { content: "\f118"; }
.flaticon-026-eye:before { content: "\f119"; }
.flaticon-027-ear:before { content: "\f11a"; }
.flaticon-028-doctor:before { content: "\f11b"; }
.flaticon-029-crutch:before { content: "\f11c"; }
.flaticon-030-cardiogram:before { content: "\f11d"; }
.flaticon-031-caduceus:before { content: "\f11e"; }
.flaticon-032-blood:before { content: "\f11f"; }
.flaticon-033-pressure:before { content: "\f120"; }
.flaticon-034-hospital-bed:before { content: "\f121"; }
.flaticon-035-bandage:before { content: "\f122"; }
.flaticon-036-ambulance:before { content: "\f123"; }