/* Medium Layout 1280px */
@media only screen and (min-width:992px) and (max-width:1200px){
    
}
/*  Tablet Layout: 768px */
@media only screen and (min-width:768px) and (max-width:991px){
    img.hard-abseluat{
        position: relative;
        right: 0;
    }
    .features-wrap{
        padding-bottom:0;
    }
    .section_title{
        margin-bottom:20px;
    }
    #v_66 h3{
        margin-top:50px;
    }
}
/* Mobile Layout 320px */
@media only screen and (max-width:767px){
    img.hard-abseluat{
        position: relative;
        right: 0;
    }
    .features-wrap{
        padding-bottom:0;
    }
    .section_title{
        margin-bottom:20px;
    }
    #v_66 h3{
        margin-top:50px;
    }
}
/* Wide Mobile Layout 480px */
@media only screen and (min-width:480px) and (max-width:767px){} 