/* Base Css */
@font-face {
    font-family: 'CodeBold';
    src: url('../fonts/Code-Bold.eot');
    src: url('../fonts/Code-Bold.eot') format('embedded-opentype'), url('../fonts/Code-Bold.woff2') format('woff2'), url('../fonts/Code-Bold.woff') format('woff'), url('../fonts/Code-Bold.ttf') format('truetype'), url('../fonts/Code-Bold.svg#codebold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'CodeLight';
    src: url('../fonts/Code-Light.eot');
    src: url('../fonts/Code-Light.eot') format('embedded-opentype'), url('../fonts/Code-Light.woff2') format('woff2'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.ttf') format('truetype'), url('../fonts/Code-Light.svg#codelight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.alignleft{
    float: left;
    margin-right: 15px;
}
.alignright{
    float:right;
    margin-left: 15px;
}
.aligncenter{
    display:block;
    margin:0 auto 15px;
}
a:focus{
    outline: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    margin:0 0 15px;
    font-weight:normal;
    font-family: 'Karla', sans-serif;
}
body{
    font-family: 'Karla', sans-serif;
}
a:hover, a:focus{
    text-decoration: none;
}
html, body{
    height:100%;
}
/* Now Start- Off canvar Menu section */
div#off-canvar-menu {
    background: #333;
    position: fixed;
    width: 300px;
    z-index: 99;
    height: 100%;
    padding: 25px;
    margin-left: -300px;
    transition:.3s;
}
div#off-canvar-menu.active{
    z-index: 101;
    margin-left:0;
}
#off-canvar-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top:50px;
}
#off-canvar-menu li a{
    color:#fff;
    display: block;
    padding:11px;
    border-bottom: 1px solid #444;
}
.menu-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 25px;
    cursor: pointer;
}
.off-canvar-overlay{
    position: fixed;
    height:100%;
    width: 100%;
    background: #000;
    z-index: -1;
    opacity: 0;
    transition: .3s;
}
.off-canvar-overlay.active{
    z-index: 98;
    opacity: 0.6;
}
/* Off canvar Menu section End */
.homepage-slider-wrap{
    background-image: url(../img/hero-bg.jpg);
    background-color:#e9d4cf;
    background-size: cover;
    background-position:center;
    height:100%;

}

.product-bg-1{background-image: url(../img/lady-1.png)}
.product-bg-2{background-image: url(../img/lady-2.png)}
.product-bg-3{background-image: url(../img/lady-3.png)}
.product-bg-4{background-image: url(../img/lady-4.png)}
.product-bg-5{background-image: url(../img/lady-5.png)}
.product-bg-6{background-image: url(../img/lady-6.png)}
.product-bg-7{background-image: url(../img/lady-7.png)}
.product-bg-8{background-image: url(../img/lady-8.png)}
.product-bg-9{background-image: url(../img/lady-9.png)}
.product-bg-10{background-image: url(../img/lady-10.png)}

/* Header section */
.header-top-area a.menu-trigger span{
   height: 2px;
   width:30px;
   background:#e55288;
   display: block;
   margin-bottom:9px;

}
.header-top-area a.menu-trigger span:nth-child(2){
    width: 15px;
}
.header-top-area a.menu-trigger{
    float:left;
}
.header-top-area a.menu-trigger span:nth-child(3){
    width: 25px;
}
.header-top-area{
   color:#5b3f61;
   font-weight: bold;
   text-transform:uppercase;
   font-size: 14px;
   position: absolute;
   left: 0;
   top:0;
   width: 100%;
   z-index: 97;
}
.header-top-area a{
   color:#5b3f61;
   text-decoration: none;
   padding: 15px;
   display:inline-block;
   
}
.header-left ul{
    margin:0 ;
    padding: 0;
    list-style: none;
    float:left;
    
}
.header-left ul li{
    display:inline-block;
}
.header-right{
    text-align: right;
}
.header-right img{
    height: 36px;
    width:36px;
}
.search-trigger i.fa{
    padding-left: 10px;
}
.single-slide-item{
    position: relative;
}
.single-slide-item img{
    position: absolute;
    left:50%;
    width:700px;
    margin-left: -350px;
    bottom:0;
}

.homepage-slider-wrap div{
    height:100%;
}
.slide-text-table{
    display: table;
    height:100%;
    width:100%;
    position: relative;
    z-index: 9;
}
.slider-text-tablecell{
    display: table-cell;
    vertical-align: middle;
    padding-left:15%;
    font-size: 120px;
    color:#e55288;
    line-height: 101px;
    font-family: CodeLight, sans-serif;
}
.slider-text-tablecell strong{ 
    font-family: CodeBold, sans-serif;
    font-weight: normal; 
}
.slide-alternative-color{
    color: #6fb0e5;
}
.big-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}
.big-menu li{
    float: left;
    width: 30%;
    font-size: 50px;font-family: CodeLight, sans-serif;
    background: #ecf3e8;
    transition: 0.3s;
}
.big-menu li :hover{
    opacity: 0.5;
}
.big-menu li a{
    color: #5b4c60;
    display: block;
    padding:30px;
    text-align: right;
    padding-top: 170px;
}
.big-menu li:nth-child(2) a{
    color: #e55288;
    font-family: CodeBold, sans-serif;
    background-color: #f0e5e5;
}
.big-menu li:nth-child(3){
    background-color:#f6f3e6;
}
.big-menu li:nth-child(4){
    background-color:#ecf4f5;
}
.big-menu li:nth-child(2),
.big-menu li:nth-child(3){
    width:20%;
}
/* Start after Big-menu / Product  section */
.products-area{
    padding-top:100px;
}

.single-product-item:nth-child(2){
    height: 620px;
    width: 78%;
    background-color: #faece5;
}
.single-product-item:nth-child(4){
    width: 56%;
}
.single-product-item:nth-child(9){
    width: 38%;
}
/*  #####  #####  Hover in Product Now */
.product-top-links a{
    color: rgba(1, 12, 1, 0.333);
    display: inline-block;
    padding: 5px;
}
.product-top-links{
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    
    position: relative;
}
.product-list{
    margin-left: -2%;
    overflow: hidden;
    position: relative;
    height: 1280px;
}
.single-product-item{
    height: 300px;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 20px;
    margin-left: 2%;
    width:18%;
    background-position:center center;
    background-position:center bottom;
    background-color: #f7f5f4;
    position: absolute;
    left: 0px;
    top: 0px;
    
}
.single-product-item .product-hover{
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%; content:""; 
    background: #6fb0e5;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    
}
.single-product-item:hover .product-hover{
    opacity: 0.9;
}
.single-product-item:hover .product-top-links{
    z-index: 999;
    color: #fff !important;
}
.single-product-item .product-hover ::after{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
   
}
.product-hover > a{
    
    position: absolute;
    left: 50%;
    top:50%;
    color: #fff;
    border: 2px solid;
    padding: 6px 17px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    width:90px;
    text-align: center;
    line-height: 25px;
    margin-left: -45px;
    margin-top: -40px;
}
.product-bottom-info{
    background: #fff  none repeat scroll 0 0;
    bottom: 0;
    left:0;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    padding-top:12px;
}
.product-bottom-info h4{
    margin-top:0;
    font-family: karla;
    font-size: 16px;
    font-weight: 700;
    margin-bottom:5px;
}
.product-bottom-info .product-price{
    position: absolute;
    right: 0;
    
    color: #e55288;
    font-size: 20px;
    font-weight: 700;
    bottom: 0px;
}
.color-sep{
    border-left: 1px solid #0f0413;
    margin-left: 5px;
}
.product-color-box span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #0f0413;
    background: #b3e9ba;
    margin-left:10px;
}
.product-color-box span.product-color-red{
    background-color:red;
}
.product-color-box span.product-color-green{
    background-color:green;
}
.product-color-box span.product-color-white{
    background-color:wheat;
}
.single-product-item:hover{
    opacity: 1;
}
/* End Product  section */
a.load-more-product-btn {
    
    color: #e65288;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 30px;
    text-align: center;
    background-color: #f9f9f8;
}
.product-promotions{
    background: #f9f9f8;
}
.promo-bg{
    background: #f4f0f0;
}
.promo-content{
    padding: 60px 70px 50px 40px;
    line-height: 2;
}
.promo-title{
    position: relative;
    color: #e55288;
}
.promo-title h2{
    font-size: 36px;
    margin: 0 0 5px;
    color: #e55288;
    text-transform: uppercase;
    font-family: CodeLight;
    font-weight: 700;
}
.promo-title h2 strong{
    font-family: CodeBold;
    font-weight: normal;
}
.promo-title .year-text{
    color: #55abc6;
    font-size: 110px;
    left: 36%;
    line-height: 76px;
    opacity: 0.2;
    position: absolute;
    top:18px;
}
.promo-title p{
    color: #5b4c60;
    margin: 20px 0px;
}
.boxed-btn{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #55abc6;
    padding: 5px 27px;
}
.brand-images {
    margin: 100px 0px 50px 0px;
    text-align: center;
}
.brand-images img{
    margin:0px 8px 0px 8px;
    text-align: center;
}
.footer-area{
    background-color: #f4f4f4;
    padding: 40px 0;
}
.footer-area a{
    color: #919191;
}
.footer-menu{
    margin-top:10px;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-menu li{
    display: inline-block;
    padding-right: 39px;
}
.social-links a{
    font-size: 120%;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
}
input[type=email]{
    background: #fff;
    border: 1px solid #ddd;
    padding:10px 10px;
    min-width:285px;
}
.email-subscribe-form input[type=submit]{
    background: #e55288;
    padding:11px 20px;
    font-weight: 700;
    color: #fff;
}
/* 
 /* Owl carousel / Slider secton top */
 /* .owl-carousel .owl-item .single-slide-item img{
     width: auto;
 }
 .homepage-slider-wrap .owl-nav, .homepage-slider-wrap .owl-nav div {
     height: auto;
 }
 .homepage-slider-wrap .owl-nav div{
     color:#5b4060;
     font-size: 20px;
     left:0;
     line-height: 40px;
     margin-top: -20px;
     opacity:0;
     position: absolute;
     top:50%;
     transition: all 0.3s ease 0s;
 }
 .homepage-slider-wrap .owl-nav div.owl-next{
     left:auto;
     right:5%;
 }
 .homepage-slider-wrap:hover .owl-nav div{
     left:auto;
     opacity: 1;
 }
 .homepage-slider-wrap:hover .owl-nav div.owl-next{
    left:auto;
    right:5%;
}
.homepage-slider-wrap .owl-nav div.owl-next{
    left:auto;
    right:0;
} */ 
 
 /* Owl carousel / Slider secton top */
