*{margin:0;padding:0;}

body{
	/*font-family:qlassik,Sans-Serif, Arial !important;*/
	/*background-color:#e8e8e8; 
    font-family: 'Raleway', sans-serif; */

    font-family: 'Source Sans Pro', sans-serif;
	
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-family:sans-serif;
	text-align: center;
	position: relative;
}

/*Side bare Clock Started*/
.clock_custom{
	width:250px;
	height:250px;
	margin:1px auto;
	margin-top:20px;
	margin-bottom:4px;
}
.date-box .day{
	padding:0 3px;
	padding-top: none;

}
.date-box{
	margin-top:55px;
	right:85px;
	width:80px;
	height: 32px;
	color:#000;
	font-size: 25px;
	background: none;
	border:none;
}
.logo-outer1{
	border-left: 3px solid #2dd713;
}
.logo-outer{
	border-left:3px solid #25b70f;
}
.minutes-hand{
	background:#22f514;
}
.hours-hand{
	background:#189919;
}
.clock-center{
	background:linear-gradient(to right, #0e740f, #43cea2);
}
